@use 'core/reset';
@use 'core/header';
@use 'core/filter';
@use 'core/list';
@use 'core/item';
@use 'core/detailpage';


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}